body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
    padding: 0;
  background-color:rgb(191, 216, 159); 
  }
  
  h2 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    margin:  70px;
    text-align: center;
    text-transform: uppercase;
    background-color: rgb(118, 150, 91); 
  
  }
  
  .todolist {
    max-width: 500px;
    margin:  auto;
    text-align: center;
  }
  
  input[type="text"] {
    width: 50%;
    padding: 12px 20px;
    margin: 30px ;
    box-sizing: border-box;
    border: 2px solid rgb(8, 8, 8);
    border-radius: 3px;
  }
  
  button {
    background-color: rgb(10, 10, 10);
    color: rgb(243, 245, 247);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(77, 99, 37);
  }
  
  li {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(86, 116, 62);
    border: 1px solid rgb(160, 255, 188);
    padding: 10px;
    border-radius: 4px;
    position: justify;
  }
  
  li .delete-btn {
    background-color: #131212;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    position: justify;
    left: 10px;
    top: 50%;
    transform: translateY(-5%);
  }